<div class="container-fluid">
  <div class="row">

    <form [formGroup]="registrationForm" novalidate autocomplete="off">
      <div class="form-group input-group">
        <span class="has-float-label">
          <input class="form-control" type="text" formControlName="firstName" id="firstName" placeholder="First Name" >
          <label class="center-block" for="firstName">First Name</label>
        </span>
        <div class="input-group-addon" [ngClass]="getAddOnClass('firstName')" >
          <i class="fa fa-user-o" aria-hidden="true"></i>
        </div>
      </div>
      <div class="alert alert-danger" *ngIf="showError('firstName', 'required')">Your first name is required</div>
      <div class="alert alert-danger" *ngIf="showError('firstName', 'minlength')">Your first name should be 2 characters minimum</div>
      <div class="form-group input-group">
        <span class="has-float-label">
          <input class="form-control" type="text" formControlName="lastName" id="lastName" placeholder="Last Name">
          <label class="center-block" for="lastName">Last Name</label>
        </span>
        <div class="input-group-addon" [ngClass]="getAddOnClass('lastName')" ><i class="fa fa-user-o" aria-hidden="true"></i></div>
      </div>
      <div class="alert alert-danger" *ngIf="showError('lastName', 'required')">Your last name is required</div>
      <div class="alert alert-danger" *ngIf="showError('lastName', 'minlength')">Your last name should be 2 characters minimum</div>
      <div class="form-group input-group">
        <span class="has-float-label">
          <input class="form-control" type="text" formControlName="email" id="email" placeholder="Email">
          <label class="center-block" for="email">Email</label>
        </span>
        <div class="input-group-addon" [ngClass]="getAddOnClass('email')" ><i class="fa fa-send-o" aria-hidden="true"></i></div>
      </div>
      <div class="alert alert-danger" *ngIf="showError('email', 'required')">Your email is required</div>
      <div class="alert alert-danger" *ngIf="showError('email', 'email')">Your email is not valid</div>
      <div class="form-group input-group">
        <span class="has-float-label">
          <input class="form-control" type="password" formControlName="password" id="password" placeholder="Password">
          <label class="center-block" for="password">Password</label>
        </span>
        <div class="input-group-addon" [ngClass]="getAddOnClass('password')" ><i class="fa fa-lock" aria-hidden="true"></i></div>
      </div>
      <div class="alert alert-danger" *ngIf="showError('password', 'required')">Your password is required</div>
      <div class="alert alert-danger" *ngIf="showError('password', 'minlength')">Your password should be 8 characters minimum</div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" [disabled]="!registrationForm.valid" type="submit">Play</button>
      </div>
    </form>
  </div>
</div>
