@import '../../sass/variables';
@import '../../sass/mixins';

:host {
   background-color: $mainGrey;
   min-height: 100vh;
}

.login-page {
   padding-top: 40px;
   display: flex;
   flex-direction: column;
   background-color: $mainGrey;
   min-height: 100vh !important;
}

.login-form {
   background-color: #fff;
   padding-top: 20px;
}

.login-title {
   text-align: center;
   margin-top: 40px;
   margin-bottom: 40px;
}

.login-footer {
   background-color: #fff;
   margin-top: 3px;
   text-align: center;
   padding-top: 20px;
   padding-bottom: 20px;
}

