<div class="security-page">
   <div class="security-title"><img src="assets/images/logo.png"></div>
   <div class="security-form align-items-center align-self-center col-4 rounded-top">
      <!--<div class="alert alert-info">{{message}}</div>-->
      <div class="container-fluid">
         <form [formGroup]="loginForm" novalidate autocomplete="off" (ngSubmit)="login()">
            <div class="form-group input-group">
               <span class="has-float-label">
                  <input class="form-control" type="text" formControlName="email" id="email" placeholder="Enter your email">
                  <label class="center-block" for="email">Email</label>
               </span>
               <div class="input-group-addon" [ngClass]="addOnService.getAddOnClass(this.loginForm, 'email')">
                  <i class="fa fa-user-o" aria-hidden="true"></i>
               </div>
            </div>
            <div class="alert alert-danger" *ngIf="addOnService.showError(this.loginForm, 'email', 'required')">Your email required</div>
            <div class="alert alert-danger" *ngIf="addOnService.showError(this.loginForm, 'email', 'email')">Your email should be valid</div>
            <div class="form-group input-group">
               <span class="has-float-label">
                  <input class="form-control" type="password" formControlName="password" id="password" placeholder="Enter your password">
                  <label class="center-block" for="password">Password</label>
               </span>
               <div class="input-group-addon" [ngClass]="addOnService.getAddOnClass(this.loginForm, 'password')">
                  <i class="fa fa-lock" aria-hidden="true"></i>
               </div>
            </div>
            <div class="alert alert-danger" *ngIf="addOnService.showError(this.loginForm, 'password', 'required')">Your password is required</div>
            <div class="alert alert-danger" *ngIf="addOnService.showError(this.loginForm, 'password', 'minlength')">Your password should be 8 characters minimum</div>
            <p>
               <button (click)="login()" [disabled]="!loginForm.valid" class="btn btn-primary btn-block small" type="submit">Login</button>
            </p>
         </form>
      </div>
   </div>
   <div class="security-footer align-items-center align-self-center col-4 rounded-bottom">
      New to Zictopia? <a routerLink="/registration">Sign up</a>
   </div>
</div>

