$mainGrey : #555655;
$lightGrey: #e6e6e6;
$mediumGrey: #cbcbcb;
$mainOrange: #ef8e26;
$errorColor: #a94442;
$fa-font-path : '../../node_modules/font-awesome/fonts';
$openSans: 'Open Sans', Arial, sans-serif;
$gloria: 'Gloria Hallelujah', Arial, sans-serif;