<div class="container-fluid">
    <div class="row">
        <div class="col-lg">
            <div class="main-stage">
                <h1>My students</h1>
                <div class="row action-bar">
                    <div class="col-lg-6"></div>
                    <div class="col-lg-6 text-right">
                        <a href="#" class="btn btn-primary small">+ Add a new student</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <div class="student row" *ngFor="let student of STUDENTS">
                            <!--<a [routerLink]="['/student-details', student.id ]">-->
                                <div class="block-thumbnail col-3">
                                    <img src="../../assets/images/profile-picture/thumbs/{{ student.thumbnail }}" class="thumbnail">
                                </div>
                                <div class="block-name col-8">
                                    <p class="name">{{ student.firstName}} {{ student.lastName }}</p>
                                    <p class="instrument">{{ student.instrument }}</p>
                                </div>
                                <div class="student-selector col-1">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </div>
                            <!--</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>