<div class="container-fluid" id="header">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-1">
      <img src="assets/images/logo-yeah.png" class="logo">
    </div>
    <div class="col-lg-2 col-lg-offset-7">
      <ul class="list-inline social-links">
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
      <h1>Registration</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
      <app-file-upload
              projectId="100"
              sectionId="107"
              maxFiles="4"
              maxSize="2"
              fileExt="JPG, GIF, PNG"
              (uploadStatus)="refreshImages($event)" >
      </app-file-upload>
      <p class="text-center text-upload"><i class="fa fa-upload"></i> Upload your picture</p>
      <!--<div class="well">
        <img *ngFor="let img of images"
             [src]="'http://localhost:33699' + img.thumbPath"
             class="img-thumbnail"
             alt="">
      </div>-->
      <app-registration-form>

      </app-registration-form>
    </div>
  </div>
</div>
<div class="container-fluid" id="footer">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-1">
      <p class="text-copyright">Copyright Yeah! 2017</p>
    </div>
    <div class="col-lg-4 col-lg-offset-1 text-center">
      <ul class="list-inline social-links">
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
</div>