
<app-header></app-header>

<div id="content">
   <router-outlet></router-outlet>
</div>

<footer class="container-fluid" id="footer">
   <div class="row">
      <div class="col-1"></div>
      <div class="col-3">
         <p class="text-copyright">Copyright Zictopia 2017</p>
      </div>
      <div class="col-4 text-center">
         <ul class="list-inline social-links">
            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
         </ul>
      </div>
   </div>
</footer>