@import '../../sass/variables';
@import '../../sass/mixins';

.error{ color: #f00; }

.profile-picture .fa {
    font-size: 150px;
    color: $mainGrey;
}

.profile-picture {
    height: 200px;
}

.text-upload {
    @include open-sans(300);
    color: $mainGrey;
    font-weight: 300;
}

.dragArea {
    font-size: 24px;
    border: 3px solid $mainGrey;
    padding: 34px ;
    background-color: #fff;
    color: #bbb;
    height: 235px;
    width: 235px;
    border-radius: 117px;
    margin: 50px auto;
}

.dropArea {
    font-size: 24px;
    border: 3px dashed #bbb;
    padding: 20px ;
    background-color: #eff;
    color: #aaa;
}
