@import '../sass/variables';
@import '../sass/mixins';
@import '../../node_modules/font-awesome/scss/font-awesome';
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');




#header {
  height:84px;
  background-color: $mainGrey;
  .logo {
    line-height: 84px;
    margin-top: 13px;
  }
}

h1 {
  font-family: $gloria;
  font-size: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
  color: $mainGrey;
}

h2 {
  @include open-sans(300);
  font-size: 16px;
  margin-bottom: 20px;
}

h3 {
  @include open-sans(300);
  font-size: 14px;
  color: $mainGrey;
  margin-top: 40px;
  .fa {
    margin-right: 10px;
  }
}

a {
    color: $mainOrange;
}

p {
    color: $mainGrey;
}

#footer {
  height:84px;
  background-color: $mainGrey;
  .logo {
    line-height: 84px;
    margin-top: 13px;
  }
}

#content {
  flex: 1;
}

.social-links {
  margin-bottom: 0;
  li a {
    color: #ffffff;
    font-size: 32px;
    line-height: 84px;
    margin-right: 20px;
  }
}

.text-copyright {
  @include open-sans(500);
  color: #ffffff;
  line-height: 84px;
  margin-bottom: 0;
}

.toggle-menu {
  color: white;
  font-size: 35px;
  margin-top: 12px;
}
