<div class="container-fluid">
    <div class="row">
        <div class="col-12">

            <div class="alert alert-info" *ngIf="this.submitted">{{ message }}</div>
            <form [formGroup]="registrationForm" novalidate autocomplete="off">
                <div class="form-group input-group">
                <span class="has-float-label">
                  <input class="form-control" type="text" formControlName="firstName" id="firstName" placeholder="First Name">
                  <label class="center-block" for="firstName">First Name</label>
                </span>
                    <div class="input-group-addon" [ngClass]="this.addOnService.getAddOnClass(this.registrationForm, 'firstName')">
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="alert alert-danger" *ngIf="this.addOnService.showError(this.registrationForm, 'firstName', 'required')">Your first name is required</div>
                <div class="alert alert-danger" *ngIf="this.addOnService.showError(this.registrationForm, 'firstName', 'minlength')">Your first name should be 2characters minimum</div>
                <div class="form-group input-group">
                <span class="has-float-label">
                  <input class="form-control" type="text" formControlName="lastName" id="lastName" placeholder="Last Name">
                  <label class="center-block" for="lastName">Last Name</label>
                </span>
                    <div class="input-group-addon" [ngClass]="this.addOnService.getAddOnClass(this.registrationForm, 'lastName')">
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="alert alert-danger" *ngIf="this.addOnService.showError(this.registrationForm, 'lastName', 'required')">Your last name is required</div>
                <div class="alert alert-danger" *ngIf="this.addOnService.showError(this.registrationForm, 'lastName', 'minlength')">Your last name should be 2characters minimum</div>
                <div class="form-group input-group">
                <span class="has-float-label">
                  <input class="form-control" type="text" formControlName="email" id="email" placeholder="Email">
                  <label class="center-block" for="email">Email</label>
                </span>
                    <div class="input-group-addon" [ngClass]="this.addOnService.getAddOnClass(this.registrationForm, 'email')"><i class="fa fa-send-o" aria-hidden="true"></i></div>
                </div>
                <div class="alert alert-danger" *ngIf="this.addOnService.showError(this.registrationForm, 'email', 'required')">Your email is required</div>
                <div class="alert alert-danger" *ngIf="this.addOnService.showError(this.registrationForm, 'email', 'email')">Your email is not valid</div>
                <div class="form-group input-group">
                <span class="has-float-label">
                  <input class="form-control" type="password" formControlName="password" id="password" placeholder="Password">
                  <label class="center-block" for="password">Password</label>
                </span>
                    <div class="input-group-addon" [ngClass]="this.addOnService.getAddOnClass(this.registrationForm, 'password')">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="alert alert-danger" *ngIf="this.addOnService.showError(this.registrationForm, 'password', 'required')">Your password is required</div>
                <div class="alert alert-danger" *ngIf="this.addOnService.showError(this.registrationForm, 'password', 'minlength')">Your password should be 8 characters minimum</div>
                <div class="form-group input-group">
                <span class="has-float-label">
                  <input class="form-control" type="password" formControlName="confirmPassword" id="confirmPassword" placeholder="Confirm your password">
                  <label class="center-block" for="password">Confirm your password</label>
                </span>
                    <div class="input-group-addon" [ngClass]="this.addOnService.getAddOnClass(this.registrationForm, 'confirmPassword')">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="alert alert-danger" *ngIf="this.addOnService.showError(this.registrationForm, 'confirmPassword', 'MatchPassword')">Your passwords do not match</div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" (click)="register()" [disabled]="!registrationForm.valid" type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
