@import '../../sass/variables';
@import '../../sass/mixins';


.period-switcher {
  border-radius: 4px;
  .nav-item:first-child .nav-link {
    border-radius: 4px 0 0 4px;
  }
  .nav-item:last-child .nav-link {
    border-radius: 0 4px 4px 0;
  }
  .nav-link {
    border-radius: 0;
    background-color: $mainGrey;
    color: $mediumGrey;
    @include open-sans(500);
    margin-right: 1px;
    font-size: 12px;
    padding: 10px 30px;
    &.active {
      background-color: $mainOrange;
      color: white;
    }
  }
}

.time-block {
  height: 100px;
  background-color: $lightGrey;
  padding: 0;
  margin-left: 100px;
  margin-right: 15px;
  margin-bottom: 4px;
  opacity: 0.6;
  &.active {
    border-left: 3px solid $mainOrange;
    @include shadow(2px, 2px, 2px, 2px, $mediumGrey);
    opacity: 1;
    margin-top: 5px;
  }
  .img-thumbnail {
    border: none;
    background-color: transparent;
    @include shadow(2px, 2px, 2px, 2px, $mediumGrey);
    margin-top: 5px;
    padding: 0;
  }
  .thumbnail {
    border-right: 1px solid $mediumGrey;
    height: 100px;
  }
  .student-name {
    @include open-sans(700);
    color: $mainGrey;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .time-range {
    @include open-sans(300);
    font-size: 12px;
    color: $mainGrey;
    .fa {
      margin-right: 15px;
    }
  }

}